.navbar {
    display: flex;
    list-style-type: none;
    justify-content: right;
}

.nav a {
    display: block;
    max-width: 200px;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;  
    margin-right: 20px;
    font-size: 20px;
    margin-top: 20px;
}

.nav a:hover:not(.active) {
    background-color: darkslategray;
    border-radius: 60px;
}
 
.nav a:not(.active) {
    background-color: rgba(47, 79, 79, 0.555);
    border-radius: 60px;
}

.active {
    background-color: rgba(17,130,232,1);
    border-radius: 60px;
}
.container {
    font-family: 'Montserrat', sans-serif;
    margin: 60px;

}
.list-inline {
    text-align: center;
    margin-bottom: 30px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.title {
    font-weight: bold;
    font-size: 26px;
}
tr {
    border: solid 1px grey;
}
th {
    text-align: center;
    height: 40px;
    width: 200px;
    border: solid 3px black;
    padding-bottom: 10px
}
td {
    height: 100px;
    text-align: center;
    width: 200px;
    border: solid 1px grey;
}
th:nth-of-type(6), td:nth-of-type(6) {
    color: blue;
}
th:nth-of-type(7), td:nth-of-type(7) {
    color: red;
}.today {
    background:mediumaquamarine;
}

.table{
    border: solid 1px black;
}




